html,
body {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%;
}

.leftpanel,
.centerpanel,
.rightpanel {
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    overflow-y: auto;
    padding: 10px;
    overflow-x: hidden;
}

.leftpanel {
    width: 330px;
}

.centerpanel {
    width: 350px;
}

.rightpanel {
    flex-grow: 100;
    flex-shrink: 5;
}

.scalebox {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 322px;
}

.leftpanel .scalebox {
    width: 300px !important;
}

.scale {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: solid 10px Gainsboro;
    background: Gainsboro;
}

.scaleitem {
    height: 40px;
}

.chart {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 100px;
    border-radius: 4px;
    padding-left: 10px;
}

.chartblock {
    background: #eee;
    border-top: 1px solid #ccc;
}

.centerpanel .CDB-InputText {
    width: 300px;
}

.map {
    height: calc(100% - 220px);
    width: 100%;
}

.cartobox {
    margin-top: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    height: 180px;
    overflow: hidden;
}

#cartocss {
    height: 100%;
}

.attrib {
    position: absolute;
    z-index: 99;
    bottom: 2px;
    right: 2px;
}

pre.prettyprint {
    border: none !important;
    border-radius: 4px;
    min-height: 2em;
    background: #F9F9F9;
    padding: 10px !important;
    max-height: calc(100% - 20px);
    white-space: pre-wrap;
    /* CSS 3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.CDB-Loader {
    position: relative !important;
    margin-bottom: 5px;
}

.myquery,
.myscale {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 2em;
}

.mycss {
    height: calc(100% - 10px);
}

.histo {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    height: 50px;
    border-right: solid 0.5px #ddd;
    border-bottom: solid 0.5px #ddd;
    background-size: calc(25% + 0.5px) 10px;
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px), linear-gradient(to bottom, #ddd 1px, transparent 1px);
}

.histoblock {
    background: #9de0ad;
    margin-left: 0.5px;
    margin-right: 0.5px;
}

.hticks,
.hlegend {
    position: relative;
}

.hticks {
    margin-top: -3px;
    margin-bottom: 5px;
}

#nulls {
    margin-top: 10px;
}







.desc {
    color: #6b6b6b;
}

.desc a {
    color: #0092dd;
}
.dropdown{
    width: 184.406px;
}
.dropdown dd,
.dropdown dt,
.dropdown ul {
    margin: 0px;
    padding: 0px;
    display: block;
}

.dropdown dd {
    position: relative;
}

.dropdown a,
.dropdown a:visited {
    color: #ddd;
    text-decoration: none;
    outline: none;
}

.dropdown a:hover {
    color: #ddd;
}

.dropdown dt a:hover {
    color: #ddd;
    border: 1px solid #ccc;
}

.dropdown dt a {
    background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAz0lEQVQ4T+3Tuw3CMBAG4DulTgRxsgcSe1AQZkGUSBQUjEIJ7MAAjHHEkl1jIyNZMiTxQ6QDl/GfT3dnG2HkhSN78Ae/n2hnhkVRlEKINobO85xJKe9u9g2c1PUsU+qqEBtOdPGhVVUtlNZHrdScc36z2U6FJWM7AFhrxOUQajFA3LdE28EK7YaDmkrP7g8+zOQG76GDrjjRyYRDmBc0my6aAaCZWV+bwZbdgEVf33pm9nlwUU9vytgGEB+c6BC6TlFgCElqOQULHkoq9qPgEyoOWRWdqEBdAAAAAElFTkSuQmCC) no-repeat scroll right center;
    display: block;
    padding-right: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    padding: 5px;
    min-height: 25px;
}

.dropdown dt a span {
    cursor: pointer;
    display: block;
}

.dropdown dd ul {
    background: white none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: white;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;
    top: 2px;
    z-index: 1;
    width: auto;
    min-width: 194.406px;
    list-style: none;
    max-height: 300px;
    overflow-y: scroll;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
    z-index:22;
}

.dropdown dd ul li a:hover {
    background-color: #ddd;
}
